<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.desc }}" />
    <meta name="keywords" content="Elixir,Erlang,Phoenix">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <a href="/"><img id="logo" src="/images/logo.png" alt="Paris.ex - Elixir in Paris" /></a>
        </div>
        <div class="col-sm-10">
          <h1>
            <a href="/">Paris.ex</a>
            <br />
            <small>Groupe des utilisateurs du Langage de Programmation Elixir à Paris</small>
          </h1>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      
